@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.limited-text {
	display: inline-block;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: transparent;
}

body .ui-organigram {
	color: #333333;
	font-weight: bold;
	border: none;
	overflow: visible;
	top: 0;
	background-color: transparent;
}

body .ui-organigram .ui-organigram-node.node-project-color {
	background: #004080;
	color: #ffffff;
}

 body .ui-organigram .ui-organigram-node.node-feature-color {
	background-color: #0080ff;
	color: #ffffff;
}

body .ui-organigram .ui-organigram-node.node-scenary-color {
	background: #408080;
	color: #ffffff;
}

body .selectable.collapsible.node-feature-color.sub-feature.ui-organigram-node.level-3.expanded {
    background-color: #ff0000;
}

.legend-scale {
	position: fixed;
	bottom: 2px;
	right: 5px;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 2px;
	border-radius: 5px;
}

.legend-labels {
	list-style: none;
	padding: 0;
	margin: 0;
}

.legend-labels li {
	display: flex;
	align-items: center;
	margin-bottom: 2px;
}

.legend-labels li span {
	display: inline-block;
	width: 20px;
	height: 10px;
	margin-right: 5px;
}