<div class="profile-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Perfil do Usuário</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <!-- Seção de informações do usuário -->
      <hr />
      <div class="user-info">
        <p><strong>Nome:</strong> {{ user.name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <button mat-stroked-button (click)="editProfile()">
          Editar Perfil
        </button>
        <button mat-stroked-button color="warn" (click)="changePassword()">
          Alterar Senha
        </button>
      </div>

      <!-- Histórico de pedidos -->
      <div class="order-history">
        <h3>Histórico de Pedidos</h3>
        <mat-list>
          <mat-list-item *ngFor="let order of user.orders">
            <h4 matLine>Pedido #{{ order.id }}</h4>
            <p matLine>
              Data: {{ order.date }} | Total: R$ {{ order.total.toFixed(2) }}
            </p>
            <p matLine>Status: {{ order.status }}</p>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>